*
{
    margin: 0;
    padding: 0;
    background-color: black;
}



/* ---- INICIO CONTENEDOR MASTER ---- */
.contenedor-master
{
    width: 98.5%;
    /* Ancho maximo del contenedor */
    /* max-width: 1000px;  */
    margin: 10px;
    
    /* activamos maquetacion grid */
    display: grid; 
    grid-gap: 10px;
    /* indico en cuantas fracciones de grid se divide la maqueta
    columnas y filas  */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);

    /* indicamos con areas, en que lugar irá cada seccion (este
    comando se activara con "grid-area", buscar CMD+F ) */
    grid-template-areas:
    "header-1-0 header-1-0 header-1-0"
    "contenido-1-0 contenido-1-0 aside-1-0 "
    "footer-1-0 footer-1-0 footer-1-0";
    
}
/* ---- FIN CONTENEDOR MASTER ---- */





/* ---- INICIO SECCION HEADER ---- */
.header-1-0
{
    background-color: rgba(255, 255, 255, 0.2) ;
    color: #aeb6b0;
    /* activa areas */
    grid-area: header-1-0;

    /*aqui vamos a aplicar una submaqueta css grid area, pero 
    INDIVIDUALMENTE PARA  header-1-0, es decir secillamente una
    submaquetacion/ sub ccs grid area*/
    display: grid;
    padding: 2em;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
    "fotoDePerfil sobre-Mi sobre-Mi";   
}

    /* -- inicio subsecciones de header-1-0 -- */
.fotoDePerfil 
{
    display: inline-block;
    position: relative;

    /* width: 30%;
    height: 30%; */
    width: 300px;
    height: 300px;

    /* le decimos a la seccion donde va la foto de perfil, que se 
    oculte si llega a desbordar el ancho y alto, luego le indica-
    mos que se haga redonda la parte visible de la seccion */
    overflow: hidden;
    border-radius: 50%;   
    
    grid-area: fotoDePerfil;
}
.fotoDePerfil img
{
   width: auto;
   height: 100%;
   margin-left: -10px;
}

.sobre-Mi  /*seccion sobre auto presentacion*/
{
    /* background-color: aqua; */
    grid-area: sobre-Mi;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, auto);

    grid-template-areas: "nombre-titular nombre-titular nombre-titular"
                         "sobre-Mi-1-1 sobre-Mi-1-1 sobre-Mi-1-1"  
    ;
    background: transparent;

}
.nombre-titular /*este está dentro de clase .sobre-Mi */
{
    /* background-color: aqua; */ /*borrar color de prueba */
    background: transparent;
    position: relative;
    align-content: right;

    grid-area: nombre-titular;

    height: auto;
    width: 100%;

    /* background-color: blueviolet; */
}
    .sobre-Mi-1-1
    {
        grid-area: sobre-Mi-1-1;
        
    }
    /* -- fin subsecciones de header-1-0 -- */
/* ---- FIN SECCION HEADER ---- */





/* ---- INICIO SECCION CONTENIDO ---- */
.contenido-1-0
{
    grid-area: contenido-1-0;

    background-color: rgb(125, 148, 93);
    color: aliceblue;

    padding: 1em;

}
/* ---- FIN SECCION CONTENIDO ---- */





/* ---- INICIO SECCION ASIDE ---- */
.aside-1-0
{
    grid-area: aside-1-0;

    background-color: rgb(207, 217, 98);
    color: aliceblue;

    padding: 1em;

}
/* ---- FIN SECCION ASIDE ---- */



/* ---- INICIO SECCION FOOTER ---- */
.footer-1-0
{
    grid-area: footer-1-0 ;

    background-color: rgba(255, 255, 255, 0.2) ;
    color: #aeb6b0;

    padding: 1em;

    position: relative;
    align-items: center;

    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: 
    ". derechos-reservados .";
    
}
.derechos-reservados
{
    /* background-color:cadetblue; */
    grid-area: derechos-reservados;
    background: transparent;
}
.footer-1-0 h4
{
    background: transparent;
}
/* ---- FIN SECCION FOOTER ---- */